.row {
  text-align: center;
}
h1 {
  padding-left: 15px;
}
label.col-sm-2 {
  padding-top: 5px;
}
.highcharts-tooltip span {
    background-color:white;
    opacity:1;
    z-index:9999!important;
}
a:hover {
  font-weight: bold;
  background-color: #DCDCDC;
}
.toolCharts {
  height: 70vh;
  overflow-y: scroll;
}
.dd-nav {
  width: 100px;
  font-size: 1.2em;
  font-weight: normal;
}
#state-panel {
  border-width: 0;
}
div#state-panel-heading.panel-heading {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
}
#expandNote {
  display: none;
  margin: 10px 10px 0 10px;
  font-size: 0.9em;
}
#pmajorTitle {
  color: rgb(51, 51, 51);
}
#selState {
  padding-top: 5px;
}
#btn-map{
  padding-left: 10px;
}
#usmap {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 450px;
  width: 350px;
}
/*
#usmap#highcharts-jc6ypwe-0.highcharts-container {
  height: 350px;
  width: 300px;
}
*/
#footnote {
  padding-top: 20px;
  font-size: 90%;
}
#explain {
  font-size: 0.9em;
}
@media screen and (min-width: 0px) and (max-width: 992px) {
  #usmap { display: none; }
}

#all-major-groups-icon {
  color: #800000;
  padding: 0;
}
#agriculture-and-natural-resources-icon {
  color: #BD226B;
  padding: 0;
}
#architecture-and-engineering-icon {
  color: #D92423;
  padding: 0;
}
#arts-icon {
  color: #D96637;
  padding: 0;
}
#biology-and-life-sciences-icon {
  color: #F38C3B;
  padding: 0;
}
#business-icon {
  color: #FBAF31;
  padding: 0;
}
#communications-and-journalism-icon {
  color: #A6BE43;
  padding: 0;
}
#computers-statistics-and-mathematics-icon {
  color: #53B64E;
  padding: 0;
}
#education-icon {
  color: #0D723D;
  padding: 0;
}
#health-icon {
  color: #169882;
  padding: 0;
}
#humanities-and-liberal-arts-icon {
  color: #55C4D5;
  padding: 0;
}
#industrial-arts-consumer-services-and-recreation-icon {
  color: #25A0D8;
  padding: 0;
}
#law-and-public-policy-icon {
  color: #147FE0;
  padding: 0;
}
#physical-sciences-icon {
  color: #0B5D92;
  padding: 0;
}
#psychology-and-social-work-icon {
  color: #7D7BA4;
  padding: 0;
}
#social-sciences-icon {
  color: #8C65A9;
  padding: 0;
}
